/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700&family=Dancing+Script:wght@500&family=Noto+Serif:wght@100;200;300;400;500;600;700&display=swap');

/* Asterisk selector */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* General styles */
body {
  font-family: 'Noto Serif', serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.8em;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh !important;
  margin: 0.5rem
}

#background {
  background-color: #FDFBF5;
}

/* Header */
header {
  font-family: 'Cinzel', serif;
  position: relative;
  z-index: 99;
  font-weight: 400;
  letter-spacing: 2px;
  background-color: #d6ccc2;
}

header a {
  text-decoration: none;
  color: black;
}

header p {
  font-family: 'Dancing Script', cursive;
  letter-spacing: 3px;
  font-size: 15px;
  text-align: center;
  padding-top: 0%;
  padding-bottom: 1%;
}

h1 {
  font-family: 'Cinzel', serif;
  text-transform: uppercase;
  color: #252525;
  text-align: center;
  font-size: large;
}

/* navbar styles */
nav {
  display: none;
  position: relative;
  margin: 0 auto;
}

#nav-pages {
  font-family: 'Cinzel', serif;
  font-size: 130%;
  list-style-type: none;
}

#nav-pages li {
  margin-bottom: 0.5rem;
  padding-inline: 25px;
}

#nav-toggle:checked~nav {
  display: block;
}

#nav-toggle {
  display: none;
}

.nav-toggle-label {
  top: 1px;
  position: absolute;
  left: 5px;
}

/* Main content */
main {
  flex: 1 0 auto;
}

/* Main content for home */
.home {
  background-image: url(../img/vineyardlandscape.jpg);
  background-attachment: fixed;
  background-size: cover;
}

h2 {
  font-family: 'Cinzel', serif;
  text-align: center;
  position: relative;
  padding: 5%;
  font-size: 200%;
  color: #800020;
  font-weight: 500;
}

.winemaking>h2 {
  padding: 0;
}

h3 {
  font-family: 'Cinzel', serif;
  text-align: start;
  padding-top: 20px;
  color: #800020;
  font-weight: 500;
  font-size: 150%;
}

p {
  padding-top: 2rem;
  font-size: 18px;
  text-align: justify;
}

.hero {
  margin: 10% auto;
}

.hero-image {
  background-image: url(../img/hero.webp);
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 5%;
}

iframe {
  width: 100%;
  height: 315px;
}

.intro {
  color: #800020;
  font-size: x-large;
  font-family: 'Dancing Script';
  justify-content: center;
  width: 100%;
}

#responsive {
  width: 100%;
  height: auto;
  max-width: 30rem;
}

.churi-winemaking,
.orange-wine {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.churi-winemaking-content,
.orange-wine-content {
  width: 100%;
}

.churi-winemaking-image,
.orange-wine-image {
  width: 100%;
  align-self: center;
}

.churi-winemaking,
.orange-wine,
.history {
  background-color: rgba(237, 237, 233, .7);
  margin: 10% auto;
  padding: 0.5em;
}

.sign-up {
  background-color: rgb(227, 213, 202);
  color: black;
  margin: 10% auto;
  font-family: 'Cinzel', serif;
  text-align: center;
  border-radius: 4px;
  width: 100%;
}

.sign-up h3 {
  text-align: center;
  padding-top: 1em;
}

.sign-up p {
  padding-top: 5px;
  padding-bottom: 20px;
  text-align: center;
}

.button {
  background-color: rgb(237, 237, 233);
  color: black;
  border-radius: 6px;
  font-size: 24px;
  display: inline-block;
  padding: 15px 32px;
  margin-bottom: 1em;
  text-decoration: none;
  cursor: pointer;
}

/* Main content for Grape Varieties */
.hero-image-2 {
  background-image: url(../img/georgia.webp);
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  margin: 10% auto 7%;
}

.wines {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.wine-regions,
.imereti,
.white-wine,
.red-wine {
  background-color: rgba(237, 237, 233, .7);
  padding: 0.5em;
  margin-bottom: 7%;
  width: 100%;
}

/* Main content for Wineries */
.hero-image-3 {
  background-image: url(../img/vineyard2.jpg);
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  margin: 10% auto 7%;
}

.wineries,
.winery-list-item-1,
.winery-list-item-2 {
  background-color: rgba(237, 237, 233, .7);
  padding: 0.5em;
  margin-bottom: 7%;
}

.winery-list-item-1,
.winery-list-item-2 {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.responsive {
  width: 100%;
  align-self: center;
}

.responsive-content,
.wineries {
  width: 100%;
}

/* Main content for Join us! */
#sign-up-page,
#response-page {
  background-image: url(../img/winerybackground.jpg);
  background-size: cover;
  min-height: 90vh;
}

#sign-up-form {
  color: #800020;
  background-color: rgba(237, 237, 233);
  padding: 30px;
  margin-top: 5px;
}

.text-input {
  background: transparent;
  width: 100%;
  height: 30px;
  margin-top: 5px;
  margin-bottom: 18px;
  border: 1px solid #9a9292;
  border-radius: 6px;
}

.submit-button {
  color: #800020;
  border: 1px solid #9a9292;
  border-radius: 6px;
  padding: 15px 25px;
  font-size: 30px;
  font-family: 'Cinzel', serif;
  cursor: pointer;
}

/* main content for response page */

.response-page {
  color: #252525;
  background-color: rgba(237, 237, 233);
  padding: 30px;
  margin-top: 5px;
  border-radius: 6px;
  border-color: #9a9292;
}

/* Footer */
.footer {
  padding: 50px 10px 10px;
  background-color: rgb(213, 189, 175);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

footer a {
  text-decoration: none;
}

#social-media {
  list-style-type: none;
  padding-top: 10px;
}

#social-media i {
  color: rgba(50, 50, 49, 0.7);
  font-size: 180%;
  padding-bottom: 20px;
}

.container {
  max-width: 1300px;
  width: 100%;
}

.footer-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.footer-logo {
  padding-bottom: 10px;
  padding-left: 0%;
  text-align: left;
  color: #800020;
  font-weight: 600;
}

.footer-menu-link,
.footer-contact-link {
  color: black;
  transition: 0.3s;
}

.footer-menu-item {
  list-style-type: none;
}

.footer-menu {
  font-family: 'Cinzel', serif;
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-top: 10px;
}

.footer-item {
  width: 100%;
}

.footer-contact-link {
  display: flex;
  align-items: center;
}

.footer-contact-subtitle {
  font-family: 'Cinzel', serif;
  padding-top: 10px;
  width: 100%;
}

.footer-copy {
  padding-top: 50px;
  font-size: 12px;
  text-align: center;
}

/*media query for tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

  /* Header */
  nav {
    display: block;
    position: relative;
    width: fit-content;
    padding-right: 1rem;
    padding-top: 1rem;
    margin-bottom: 2rem;
  }

  #nav-pages li {
    display: inline;
  }

  #nav-toggle {
    display: none;
  }

  .nav-toggle-label {
    display: none;
  }

  #logo {
    font-size: 320%;
    line-height: 75px;
    margin: 0 0.5rem;
    letter-spacing: 4px;
    margin-top: 2rem;
  }

  header p {
    font-size: 200%;
    line-height: 50px;
    letter-spacing: 3px;
    text-align: center;
  }

  /* Main */
  .hero-image,
  .hero-image-2,
  .hero-image-3 {
    height: 600px;
  }

  #responsive {
    max-height: 400px;
    width: 100%;
    padding: 0 5%;
    align-self: center;
  }

  .responsive {
    width: 100%;
    max-width: 50rem;
    padding: 0 5% 10%;
    align-self: center;
  }

  .churi-winemaking {
    width: 100%;
    display: flex;
    flex-direction: row;
  }

  .orange-wine {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
  }

  .sign-up {
    max-width: 75%;
  }

  .button:hover {
    background-color: #fff;
    color: #9a9292;
  }

  /* footer */
  .footer-contact-link:hover,
  .footer-menu-link:hover {
    color: #fff;
  }

  #social-media i:hover {
    color: #fff;
  }

  .footer-body {
    flex-direction: row;
  }

  /* Grape Varieties */
  .reds,
  .whites {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    justify-content: center;
  }

  .red-wine,
  .white-wine {
    max-width: 45%;
    padding: 0 5%;
  }

  /* Wineries page */
  .winery-list-item-1 {
    width: 100%;
    display: flex;
    flex-direction: row;
  }

  .winery-list-item-2 {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
  }

  /* Form page */
  #sign-up-page,
  #response-page {
    position: relative;
  }

  #sign-up-form {
    max-width: 600px;
    position: absolute;
    left: 20%;
    top: 150px;
  }

  .submit-button:hover {
    background-color: #fff;
    color: #9a9292;
  }

  .response-page {
    max-width: 600px;
    position: relative;
    left: 20%;
    top: 150px;
  }
}

/* Large devices (992px and up, laptops and desktops) */
@media screen and (min-width: 992px) {
  .box {
    max-width: 75%;
    margin: 0 auto;
  }

  #hero {
    align-content: center;
  }

  #nav-pages a:hover {
    color: #fff;
  }

  iframe {
    max-width: 75%;
    height: 500px;
    padding: 3em;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  #sign-up-page {
    max-width: 75%;
    min-height: 120vh;
    margin: 0 auto;
  }

}